<%= form_for [:admin, page] do |f| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <h3>Blocks</h3>
  <div id='blocks'>
    <%= f.fields_for :blocks do |block| %>
      <%= render 'block_fields', f: block %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add block', f, :blocks %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
