<!DOCTYPE html>
<html>
  <head>
    <title>Medit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if controller_path == 'admin/pages' %>
      <%= link_to 'Frontend', pages_path %>
    <% else %>
      <%= link_to 'Backend', admin_pages_path %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to 'sign_out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'sign_in', new_user_session_path %>
      <%= link_to 'sign_up', new_user_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
